@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Risks database</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>

        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">Risks Home</a>
                <span> - </span><a href="@routes.Application.admin()">Admin</a>
                <span> - </span><a href="@routes.Application.reports()">Reports</a>
                <span> - </span><a href="@routes.Application.logout()">Logout</a>
            </h1>
        </header>

       <section id="main">
            @content
        </section>
    </body>
</html>

